@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background: url("https://assets.codepen.io/6060109/ZigZag.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-block {
  width: 350px;
  height: 567px;
  background-color: white;
  border-radius: 5px;
  margin: 70px auto;
  box-shadow: 0px 40px 40px -20px #3c7b61;
  position: relative;
}

#close-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.inner-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 55px 45px;
}

.inner-container > img {
  width: 110px;
  height: 110px;
}

.inner-container > h1 {
  margin: 20px 0 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #2f463d;
}

.inner-container > p {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 26px;
  color: #828282;
}

.menu-preview {
  margin: 20px 0;
  height: 66px;
  background-color: #f0fff5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}

.menu-name-price {
  width: 50%;
  text-align: left;
  padding-left: 15px;
  margin-top: 10px;
}

.menu-name-price > h5 {
  margin-bottom: 3px;
  color: 2F463D;
  font-weight: 800;
  color: #2f463d;
}

.menu-name-price > p {
  font-size: 15px;
  color: #7a8f85;
  margin: 0 0 10px 0;
}

.menu-preview button {
  width: 25%;
  color: #467a66;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
  background-color: #f0fff5;
  border: 0;
  padding-right: 15px;
}

.change:hover {
  cursor: pointer;
  color: #46c67c;
}

.click-button {
  font-family: Montserrat;
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  color: white;
}

.click-button.first,
.click-button.third {
  margin-top: 80px;
  background-color: #bdbdbd;
  box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
}

.click-button.second {
  margin-top: 5px;
  background-color: #46a67e;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
  transition: 0.3s ease all;
}

.click-button:hover {
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #46c67c;
}

nav {
  width: 100%;
}

.nav > .nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-list-item {
  background-color: #f2f2f2;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.nav-list-item.second {
  background-color: #67bd99;
}

.first,
.third {
  display: none;
}

@media only screen and (min-width: 992px) {
  .first,
  .third {
    display: block;
  }
}
